<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataSourceOpen.Come.OracleDataSource.OracleSetring" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="DataSourceOpen.Come.CenterConfig" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DataSourceOpen.Come.OracleDataSource.OracleSetring>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="issave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="servername" serializeAs="String">
                <value />
            </setting>
            <setting name="databasename" serializeAs="String">
                <value />
            </setting>
            <setting name="issavefromdata" serializeAs="String">
                <value>False</value>
            </setting>
        </DataSourceOpen.Come.OracleDataSource.OracleSetring>
        <DataSourceOpen.Come.CenterConfig>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="issave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="servername" serializeAs="String">
                <value />
            </setting>
            <setting name="databasename" serializeAs="String">
                <value />
            </setting>
            <setting name="issavefromdata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkindex" serializeAs="String">
                <value>0</value>
            </setting>
        </DataSourceOpen.Come.CenterConfig>
    </userSettings>
</configuration>