<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--模板文件的路径，如果不填写该项，系统使用默认的路径进行查找-->
    <add key="CodeThempPath"
         value="E:\NET.框架开发\Glory.net.codebuilder\CodeBuilderStudio\CodeBuilderStudio\CodeBuilderStudio.Main\bin\Release\Fast.CodeThemp"/>
    <!--模板的参照样本路径，这些文件可以根据日常收集进行整理，以方便模板的制作，如果不填写该项，系统使用默认的路径进行查找-->
    <add key="CodeThempMasterPath" value="E:\NET.框架开发\Glory.net.codebuilder\CodeBuilderStudio\CodeBuilderStudio\CodeBuilderStudio.Main\bin\Release\HZ.CodeThempMaster"/>
  </appSettings>
</configuration>